@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-dark: #444;
    --white-color: #fff;

    /* Color Pallate */
    --color-ld-default: #f58d74;
    --color-ld-hover: #d17761;

    --color-ld-background: #fbfbfb;
    --color-ld-gray: #f8faf9;
    --color-ld-gray-dark: #f0f0f0;

    --color-border-smooth: #eee;

    --color-login-primary: #5d9dff;
    --color-login-primary-hover: #5089dd;

    --color-text-muted: #aaa;

    --width-sidebar: 280px;
    --width-content-sidebar: 310px
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}

body {
    padding: 0;
    margin: 0;
    color: var(--color-dark);
    background: var(--color-ld-background);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

a {
    color: var(--color-ld-default);
    text-decoration: none;
}


#nprogress .bar {
	background: var(--color-ld-default)!important;
    position: fixed;
	z-index: 1031;
	top: 0;
	left: 0;
	width: 100%;
	height: 2.8px;
}

#nprogress .bar {
    background: var(--color-ld-default)!important;
}

#nprogress .peg,
#nprogress .spinner {
    display: none!important;  
}

.navbar-ld {
    background: var(--color-ld-default);
    border-bottom: var(--color-ld-hover) 1px solid;
    color: white;
    height: 60px;
    padding: 16px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(157, 157, 157, 0.5);
}

.navbar-ld .btn-show-sidebar {
    width: 25px;
    height: 25px;
}

.navbar-ld .content-title {
    margin-left: var(--width-content-sidebar);
}

.navbar-ld .content-title h3 {
    font-size: 20px;
    margin: 0;
    display: inline-block;
}

.backdrop-sidebar-show {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.sidebar-left {
    background: #fff;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: var(--width-sidebar);
    border-right: 1px solid var(--color-border-smooth);
    color: var(--color-dark);
    z-index: 1000;
    font-size: 14px;
}

.sidebar-left .logo {
    padding: 10px;
    height: 60px;
    font-size: 25px;
    font-weight: bold;
    border-bottom: 1px solid var(--color-border-smooth);
    text-align: center;
}

.sidebar-left .menu-sidebar {
    height: calc(100% - 150px);
    overflow: auto;
    padding: 15px;
    border-bottom: 1px solid var(--color-border-smooth);
}

.sidebar-left .menu-sidebar a {
    color: #666;
    font-weight: bold;
    padding: 15px 20px;
    padding-left: 65px;
    margin-bottom: 5px;
    display: block;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidebar-left .menu-sidebar a .icon {
    width: 22px;
    height: auto;
    position: absolute;
    top: 15px;
    left: 25px;
}

.sidebar-left .menu-sidebar a .icon.alkitab,
.sidebar-left .menu-sidebar a .icon.faq {
    width: 19px;
    left: 26px
}

.sidebar-left .menu-sidebar a .icon.pengaturan {
    width: 20px;
}

.sidebar-left .menu-sidebar hr {
    border-top: 2px solid var(--color-border-smooth)!important;
}

.sidebar-left .menu-sidebar a:hover {
    background: var(--color-ld-gray);
    border-radius: 15px;
}

.sidebar-left .menu-sidebar a.active {
    background: var(--color-ld-gray-dark);
    border-radius: 15px;
}

.sidebar-left .btn-logout {
    font-size: 14px;
}

.sidebar-left .btn-logout img {
    width: 20px;
    margin-top: -1px
}

.clear-header {
    padding-top: 4em;
}

.content-wrapper {
    margin-left: var(--width-content-sidebar);
    padding: 20px 0;
    padding-right: 20px;
    word-break: break-word;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: calc(100% - 60px);
    overflow: auto;
}

@media (max-width: 991.98px) {
    .navbar-ld .content-title,
    .content-wrapper {
        margin: 0 ;
    }

    .navbar-ld {
        padding: 15px 20px
    }

    .content-wrapper {
        padding: 25px 20px
    }

    .sidebar-left {
        left: calc(var(--width-content-sidebar) * -1);
    }

    .sidebar-left.show {
        left: 0;
    }
}

.btn-primary-ld {
    background: var(--color-ld-default);
    border-color: var(--color-ld-default);
    padding: 8px 14px
}

.btn-primary-ld:hover,
.btn-primary-ld:focus {
    background: var(--color-ld-hover)!important;
    border-color: var(--color-ld-hover)!important;
}


.box-account-user {
    padding: 40px 25px;
    background: #fff;
    max-width: 500px;
    width: calc(100% - 30px);
    margin: 5em auto;
    border-radius: 12px;
    box-shadow: 0 0 15px #eee;
}

.box-account-user .form-control {
    padding: 8px 12px;
    border: none;
    border-bottom: 1px solid var(--color-border-smooth);
    border-radius: 0;
}

.box-account-user .form-control::placeholder {
    color: var(--color-text-muted)
}

.box-account-user .form-control:focus,
.box-account-user .form-control:focus + .input-group-text {
    box-shadow: none;
    border-bottom: 2px solid var(--color-login-primary);
}

.box-account-user a:not(.buat-akun) {
    color: var(--color-login-primary);
}

.box-account-user a:hover {
    text-decoration: underline;
}

.box-account-user .title {
    text-align: center;
}

.box-account-user .title h3 {
    font-weight: bold;
    font-size: 30px;
}

.box-account-user a.buat-akun {
    color: var(--color-dark);
}

.box-account-user .btn-primary-ld {
    background: var(--color-login-primary);
    border-color: var(--color-login-primary);
    padding: 10px
}

.box-account-user .form-control.is-invalid,
.box-account-user .form-control.is-invalid + .input-group-text {
    border-color: var(--bs-form-invalid-color);
}

.box-account-user .form-control:disabled + .input-group-text
{
    background: var(--bs-secondary-bg);
}

.box-account-user .btn-primary-ld:hover,
.box-account-user .btn-primary-ld:focus {
    background: var(--color-login-primary-hover)!important;
    border-color: var(--color-login-primary-hover)!important
}

.box-account-user .show-pass {
    background: var(--white-color);
    border: none;
    border-bottom: 1px solid var(--color-border-smooth);
    border-radius: 0;
}

.box-account-user .show-pass .img-show-pass {
    width: 18px;
    height: 18px;
}

.loader-full {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.loader-full img {
    width: 40px;
    height: 40px;
}

.content-center-full {
    max-width: 500px;
    margin: 0 auto;
    width: calc(100% - 40px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content-center-full img {
    max-width: 350px;
    width: 100%;
}

.content-center-full .title {
    font-size: 20px;
}